@model IEnumerable<ReportApp.Core.Entities.Profile>

@{
    ViewBag.Title = "Index";
}

<h2>Staffs' List</h2>


<p>
    @Html.ActionLink("Create New", "CreateAccount")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.UnitName)
            </td>
            <th>
                @Html.DisplayFor(model => item.Unit.Department.DepartmentName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAccount", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "DeleteAccount", new { id = item.Id }) |
                @Html.ActionLink("Assign Role", "AssignRole", new { id = item.Staff.Id })
            </td>
        </tr>
    }

</table>

