@model PagedList.IPagedList<ReportApp.Core.Entities.Report>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<p>
    @using (Html.BeginForm("Reports", "Management", FormMethod.Get))
    {
        <b>  Find by anything : </b> @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>SN</th>
        <th>
            @Html.ActionLink("FullName", "Reports", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Title
        </th>
        <th>
            Details
        </th>
        <th>
            @Html.ActionLink("Report Date", "Reports", new { sortOrder = ViewBag.reportDateSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Submission Date", "Reports", new { sortOrder = ViewBag.submissionDateSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Report Type", "Reports", new { sortOrder = ViewBag.typeSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @{int a = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@a</td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Raw(item.ReportContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportType)
            </td>
            <td>
                @Html.ActionLink("Details", "ReportDetails", new { id = item.EncryptedId })
            </td>
        </tr>
        a++;
    }

</table>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Reports",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
