@model ReportApp.Core.Entities.Department

@{
    ViewBag.Title = "Details";
}


<div>
    <h2>@Html.DisplayFor(model => model.DepartmentName) Department Details </h2>
    <h4>List of Unit under @Html.DisplayFor(model => model.DepartmentName) Department are as follows:</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Unit.Count > 0)
        {
            int num = 1;
            foreach (var item in Model.Unit)
            {
                <dt>
                    @num
                </dt>
                <dd>
                    @item.UnitName
                </dd>
                num++;
            }
        }
        else
        {
            <dt></dt>
            <dd>No unit found in this department.</dd>
        }
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
