@model ReportApp.Core.Entities.Profile

@{
    ViewBag.Title = "GetProfileById";
}

<h2>GetProfileById</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unit.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unit.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.Department.DepartmentName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
